<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Mission to Mars</title>
    </head>

    <body>
        <!-- title with scrape button -->
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <a class="btn btn-primary" href="/scrape" role="button">Scrape</a>
        </div>

        <br>

        <!-- news title with snippet -->
        <div class="container-fluid">
            <div class="col-8" style="padding: 2%;">
                <h3>Mars News</h3>
                <h4>{{ mars.news_title }}</h4>
                <p>{{ mars.news_snippet }}</p>
            </div>
        </div>

        <br>

        
        <div class="container-fluid">
            <!-- featured picture -->
            <div class="row" id="mars-featured-image">
                <div class="col-md-8">
                  <h2>Featured Mars Image</h2>
                    <!-- if images is False/None/non-existent, then default to error message -->
                    <img src="{{mars.featured_img_url}}" class="img-responsive" width = "100%">
                </div>
                <div class="col-md-4">
                  <!-- Mars Weather Mars Facts -->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Mars Weather</h4>
                                <p>{{mars.mars_weather}}</p>
                                <br>
                                <h4>Mars Facts</h4>
                                <div text-align="center">
                                {{mars.mars_facts| safe}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
                        
        </div>
        <br>
        <div class="container-fluid">
            <h4 class="text-center">Hemispheres of Mars</h4>
            <hr>
        </div>
        
        <!-- <div class="card-deck">
            <div class="card" style="width: 32rem;">
                <div class="thumbnail">
                    <img src="https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg" class="card-img-top" object-fit="cover">
                </div>
                <div class="card-body">
                <h5 class="card-title">Cerberus Hemisphere</h5>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="thumbnail">
                    <img src="https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg" class="card-img-top" object-fit="cover">
                </div>
                <div class="card-body">
                <h5 class="card-title">Schiaparelli Hemisphere</h5>
                </div>
            </div>   
        </div>  
        <br>
        <div class="card-deck">
            <div class="card" style="width: 32rem;">
                <div class="thumbnail">
                    <img src="https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg" class="card-img-top" object-fit="cover">
                </div>
                <div class="card-body">
                <h5 class="card-title">Syrtis Major Hemisphere</h5>
                </div>
            </div>
            <div class="card" style="width: 32rem;">
                <div class="thumbnail">
                    <img src="https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg" class="card-img-top" object-fit="cover">
                </div>
                <div class="card-body">
                <h5 class="card-title">Valles Marineris Hemisphere</h5>
                </div>
            </div>   
        </div> -->


        
        <div class="card-deck">
            {% for hemisphere in mars.hemispheres %}
                <div class="card" style="width: 32rem;">
                    <div class="thumbnail">
                        <img src="{{hemisphere.url}}" class="card-img-top" >
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{hemisphere.title}}</h5>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>    
    </body>
</html>
